.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    padding-top: 4rem;
  }
}

.header {
  color: #fff;
  flex: 0.4;
  margin-left: 10rem;

  @media only screen and (max-width: $bp-medium) {
    width: 60%;
    margin-left: 0;
  }
}
